.kpi-page-tab-view{
    ::ng-deep .p-tabview ::ng-deep .p-tabview-nav ::ng-deep li.p-highlight ::ng-deep .p-tabview-nav-link {
        border-bottom: 4px solid #f7941e;
        border-color: #f7941e;
        color: #f7941e;
    }
}