<div class="card kpi-page-tab-view">
    <p-tabView>
        <p-tabPanel header="Flux mensuel par produit">
            <p>
                <app-monthly-flow-by-product></app-monthly-flow-by-product>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Com par bq_org">
            <p>
                <app-com-by-bq-org></app-com-by-bq-org>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Flux mensuel par banque CI">
            <p>
                <app-monthly-flow-by-bank></app-monthly-flow-by-bank>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Flux mensuel par organisme CI">
            <p>
                <app-monthly-flow-by-organisme></app-monthly-flow-by-organisme>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Catégorie clients I">
            <p>
                <app-categorie-client></app-categorie-client>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Catégorie clients II">
            <p>
                <app-categorie-client-v2></app-categorie-client-v2>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Financement par ville">
            <p>
                <app-funding-city></app-funding-city>
            </p>
        </p-tabPanel>
    </p-tabView>
</div>