
<div class="card">
    <div *ngIf="step == 0" class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center gap-4" style="display: flex;">
            <div 
                class="card shadow-sm"
                [class.opacity-50]="!isSelected1" 
                (click)="selectCard(1)"
                style="cursor: pointer; border-radius: 5px; padding: 1rem; width: 22rem; height: 60vh;">   
                <img 
                    alt="Card 1" 
                    class="w-100"  
                    src="assets/demo/images/galleria/entrepreneur.svg"
                    style="width: 20rem; height: 20rem;" />
                
                <div class="mt-3">
                    <p-button label="Personne Physique" [styleClass]="isSelected1 ? 'p-button-primary full-width' : 'p-button-outlined full-width'"></p-button>
                </div>
    
                <p class="mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
            </div>
    
            <div 
                class="card shadow-sm"
                [class.opacity-50]="!isSelected2" 
                (click)="selectCard(2)"
                style="cursor: pointer; border-radius: 5px; padding: 1rem; width: 22rem; height: 60vh;">   
                <img 
                    alt="Card 2" 
                    class="w-100"  
                    src="assets/demo/images/galleria/organizer.svg"
                    style="width: 20rem; height: 20rem;" />
                
                <div class="mt-3">
                    <p-button label="Personne Morale" [styleClass]="isSelected2 ? 'p-button-primary full-width' : 'p-button-outlined full-width'"></p-button>
                </div>
    
                <p class="mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
            </div>
        </div>
    </div>
    
    <div *ngIf="step == 1">
        <h3 class="text-lg font-bold mb-4">Veuillez sélectionner votre rôle dans la liste ci-dessous :</h3>
        <div style="display: flex; justify-content: center;" >
          <p-listbox 
            [options]="roles"
            [(ngModel)]="selectedRole" 
            optionLabel="name"
            class="w-48">
          </p-listbox>
        </div>
      </div>
    
    <div *ngIf="step == 2 || step == 3 || step == 4" >
        <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)" />
        <div class="container">
        <div class="row">
            <div class="col-12" *ngIf="activeIndex == 0 && step == 2">
                <div class="grid p-fluid mt-3">

                <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="denomination ">Dénomination </label>
                    <input pInputText id="denomination " type="text" [(ngModel)]="denomination " placeholder="Votre Dénomination " />
                </div>
    
                <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="forme_juridique">Forme juridique</label>
                    <p-dropdown
                    [options]="formes_juridiques"
                    [(ngModel)]="forme_juridique"
                    [showClear]="true"
                    placeholder="Sélectionner"
                    ></p-dropdown>
                </div>

                <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="date_creation">Date de création</label>
                    <input pInputText id="date_creation" type="date" [(ngModel)]="date_creation" />
                </div>

                <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="rc">N° RC</label>
                    <input
                    pInputText
                    id="rc"
                    type="text"
                    [(ngModel)]="rc"
                    placeholder="Votre N° RC"
                    />
                </div>

                <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="business_activity">Activité</label>
                    <p-dropdown
                    [options]="business_activities"
                    [(ngModel)]="business_activity"
                    [showClear]="true"
                    placeholder="Sélectionner"
                    ></p-dropdown>
                </div>
                
                <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="nom">Nom</label>
                    <input pInputText id="nom" type="text" [(ngModel)]="nom" placeholder="Votre nom" />
                </div>

                <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="prenom">Prénom</label>
                    <input pInputText id="prenom" type="text" [(ngModel)]="prenom" placeholder="Votre prénom" />
                </div>

                <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="date_naissance">Date de Naissance</label>
                    <input pInputText id="date_naissance" type="date" [(ngModel)]="date_naissance" />
                </div>

                <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="civilite">Civilité</label>
                    <p-dropdown
                    [options]="civilites"
                    [(ngModel)]="civilite"
                    [showClear]="true"
                    placeholder="Sélectionner"
                    ></p-dropdown>
                </div>

                <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="nationalite">Nationalité</label>
                    <input
                    pInputText
                    id="nationalite"
                    type="text"
                    [(ngModel)]="nationalite"
                    placeholder="Votre nationalité"
                    />
                </div>

                <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="email">Adresse mail</label>
                    <input
                    pInputText
                    id="email"
                    type="email"
                    [(ngModel)]="email"
                    placeholder="Votre email"
                    />
                </div>

                <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="num_fiche">Identité</label>
                    <div class="flex flex-wrap gap-3">
                    
                        <div *ngFor="let Identity of identities" class="flex align-items-center">
                            <p-radioButton 
                                [inputId]="Identity.key" 
                                name="Identity" 
                                [value]="Identity" 
                                [(ngModel)]="selectedIdentity" />
                            <label [for]="Identity.key" class="ml-2">
                                {{ Identity.name }}
                            </label>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedIdentity == this.identities[0] && isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="CIN">CIN</label>
                    <input
                    pInputText
                    id="CIN"
                    type="text"
                    [(ngModel)]="CIN"
                    placeholder="Votre CIN"
                    />
                </div>

                <div *ngIf="selectedIdentity == this.identities[1] && isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="carte_sejour">Carte Séjour</label>
                    <input
                    pInputText
                    id="carte_sejour"
                    type="text"
                    [(ngModel)]="carte_sejour"
                    placeholder="Votre Carte Séjour"
                    />
                </div>   

                <div *ngIf="selectedIdentity == this.identities[2] && isSelected1" class="field col-12 md:col-6 lg:col-4">
                    <label htmlFor="Passeport">Passeport</label>
                    <input
                    pInputText
                    id="Passeport"
                    type="text"
                    [(ngModel)]="Passeport"
                    placeholder="Votre Passeport"
                    />
                </div>

                </div>
            </div>
            <div class="col-12" *ngIf="activeIndex == 1 && step == 3">
                <div class="grid p-fluid mt-3">

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="social_capital">Capital social</label>
                        <input pInputText id="social_capital" type="text" [(ngModel)]="social_capital" placeholder="Votre Capital social " />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="requested_amount">Montant sollicité </label>
                        <input pInputText id="requested_amount" type="text" [(ngModel)]="requested_amount" placeholder="Votre Montant sollicité " />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="ville">Ville</label>
                        <input
                        pInputText
                        id="ville"
                        type="text"
                        [(ngModel)]="ville"
                        placeholder="Votre ville"
                        />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="pays">Pays</label>
                        <input
                        pInputText
                        id="pays"
                        type="text"
                        [(ngModel)]="pays"
                        placeholder="Votre pays"
                        />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="adresse">Adresse</label>
                        <textarea
                        rows="5"
                        id="adresse"
                        pInputTextarea
                        [(ngModel)]="adresse"
                        placeholder="Votre adresse complète"
                        ></textarea>
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="ville">Ville</label>
                        <input
                        pInputText
                        id="ville"
                        type="text"
                        [(ngModel)]="ville"
                        placeholder="Votre ville"
                        />
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="pays">Pays</label>
                        <input
                        pInputText
                        id="pays"
                        type="text"
                        [(ngModel)]="pays"
                        placeholder="Votre pays"
                        />
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="pays_resi">Pays de Résidence</label>
                        <input
                        pInputText
                        id="pays"
                        type="text"
                        [(ngModel)]="pays_resi"
                        placeholder="Votre Pays de Résidence"
                        />
                    </div>
    
                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="situation_familiale">Situation Familiale</label>
                        <p-dropdown
                        [options]="situations_familiales"
                        [(ngModel)]="situation_familiale"
                        [showClear]="true"
                        placeholder="Sélectionner"
                        ></p-dropdown>
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="telephone_mobile">Téléphone Mobile</label>
                        <input
                        pInputText
                        id="telephone_mobile"
                        type="text"
                        [(ngModel)]="telephone_mobile"
                        placeholder="Votre Téléphone Mobile"
                        />
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="telephone_fixe">Téléphone Fixe</label>
                        <input
                        pInputText
                        id="telephone_fixe"
                        type="text"
                        [(ngModel)]="telephone_fixe"
                        placeholder="Votre Téléphone fixe"
                        />
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="telephone_professionnel">Téléphone Professionnel</label>
                        <input
                        pInputText
                        id="telephone_professionnel"
                        type="text"
                        [(ngModel)]="telephone_professionnel"
                        placeholder="Votre Téléphone Mobile"
                        />
                    </div>
    
                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="adresse">Adresse</label>
                        <textarea
                        rows="5"
                        id="adresse"
                        pInputTextarea
                        [(ngModel)]="adresse"
                        placeholder="Votre adresse complète"
                        ></textarea>
                    </div>
    
                    </div>
            </div>
            <div class="col-12" *ngIf="activeIndex == 2 && step == 4">
                <div class="grid p-fluid mt-3">

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="nom">Nom</label>
                        <input pInputText id="nom" type="text" [(ngModel)]="nom" placeholder="Votre nom" />
                    </div>
    
                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="prenom">Prénom</label>
                        <input pInputText id="prenom" type="text" [(ngModel)]="prenom" placeholder="Votre prénom" />
                    </div>
    
                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="date_naissance">Date de Naissance</label>
                        <input pInputText id="date_naissance" type="date" [(ngModel)]="date_naissance" />
                    </div>
    
                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="civilite">Civilité</label>
                        <p-dropdown
                        [options]="civilites"
                        [(ngModel)]="civilite"
                        [showClear]="true"
                        placeholder="Sélectionner"
                        ></p-dropdown>
                    </div>
    
                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="nationalite">Nationalité</label>
                        <input
                        pInputText
                        id="nationalite"
                        type="text"
                        [(ngModel)]="nationalite"
                        placeholder="Votre nationalité"
                        />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="num_fiche">Identité</label>
                        <div class="flex flex-wrap gap-3">
                        
                            <div *ngFor="let Identity2 of identities2" class="flex align-items-center">
                                <p-radioButton 
                                    [inputId]="Identity2.key" 
                                    name="Identity2" 
                                    [value]="Identity2" 
                                    [(ngModel)]="selectedIdentity2" />
                                <label [for]="Identity2.key" class="ml-2">
                                    {{ Identity2.name }}
                                </label>
                            </div>
                        </div>
                    </div>
    
                    <div *ngIf="selectedIdentity2 == this.identities2[0] && isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="CIN">CIN</label>
                        <input
                        pInputText
                        id="CIN"
                        type="text"
                        [(ngModel)]="CIN"
                        placeholder="Votre CIN"
                        />
                    </div>
    
                    <div *ngIf="selectedIdentity2 == this.identities2[1] && isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="carte_sejour">Carte Séjour</label>
                        <input
                        pInputText
                        id="carte_sejour"
                        type="text"
                        [(ngModel)]="carte_sejour"
                        placeholder="Votre Carte Séjour"
                        />
                    </div>   
    
                    <div *ngIf="selectedIdentity2 == this.identities2[2] && isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="Passeport">Passeport</label>
                        <input
                        pInputText
                        id="Passeport"
                        type="text"
                        [(ngModel)]="Passeport"
                        placeholder="Votre Passeport"
                        />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="situation_familiale">Situation Familiale</label>
                        <p-dropdown
                        [options]="situations_familiales"
                        [(ngModel)]="situation_familiale"
                        [showClear]="true"
                        placeholder="Sélectionner"
                        ></p-dropdown>
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="ville">Ville</label>
                        <input
                        pInputText
                        id="ville"
                        type="text"
                        [(ngModel)]="ville"
                        placeholder="Votre ville"
                        />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="pays">Pays</label>
                        <input
                        pInputText
                        id="pays"
                        type="text"
                        [(ngModel)]="pays"
                        placeholder="Votre pays"
                        />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="pays_resi">Pays de Résidence</label>
                        <input
                        pInputText
                        id="pays"
                        type="text"
                        [(ngModel)]="pays_resi"
                        placeholder="Votre Pays de Résidence"
                        />
                    </div>

                    <div *ngIf="isSelected2" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="adresse">Adresse</label>
                        <textarea
                        rows="5"
                        id="adresse"
                        pInputTextarea
                        [(ngModel)]="adresse"
                        placeholder="Votre adresse complète"
                        ></textarea>
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="num_fiche">Statut</label>
                        <div class="flex flex-wrap gap-3">
                            <div *ngFor="let Statut of statuts" class="flex align-items-center">
                                <p-radioButton 
                                    [inputId]="Statut.key" 
                                    name="Statut" 
                                    [value]="Statut" 
                                    [(ngModel)]="selectedStatut" />
                                <label [for]="Statut.key" class="ml-2">
                                    {{ Statut.name }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="num_fiche">Statut d'occupation</label>
                        <div class="flex flex-wrap gap-3">
                            <div *ngFor="let Statut_Occupation of statuts_Occupation" class="flex align-items-center">
                                <p-radioButton 
                                    [inputId]="Statut_Occupation.key" 
                                    name="Statut_Occupation" 
                                    [value]="Statut_Occupation" 
                                    [(ngModel)]="selectedStatut_Occupation" />
                                <label [for]="Statut_Occupation.key" class="ml-2">
                                    {{ Statut_Occupation.name }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="requested_amount">Montant sollicité</label>
                        <input
                        pInputText
                        id="requested_amount"
                        type="text"
                        [(ngModel)]="requested_amount"
                        placeholder="Votre Montant sollicité "
                        />
                    </div>
    
                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="provenance_client">Provenance du client</label>
                        <p-dropdown
                        [options]="provenances_clients"
                        [(ngModel)]="provenance_client"
                        [showClear]="true"
                        placeholder="Sélectionner"
                        ></p-dropdown>
                    </div>

                    <div *ngIf="isSelected1" class="field col-12 md:col-6 lg:col-4">
                        <label htmlFor="provenance_detail">Détail de provenance</label>
                        <textarea
                        rows="5"
                        id="provenance_detail"
                        pInputTextarea
                        [(ngModel)]="provenance_detail"
                        placeholder="Votre Détail de provenance"
                        ></textarea>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="flex space-between mt-4" style="justify-content: space-between;">
        <p-button *ngIf="step != 0"
          type="button" 
          label="Précédent" 
          (click)="goToPreviousStep()">
        </p-button>
        
        <p-button *ngIf="step != 4"
          type="button" 
          label="Suivant" 
          [disabled]="isNextDisabled()" 
          (click)="goToNextStep()">
        </p-button>

        <p-button *ngIf="step == 4"
          type="button" 
          label="Done" 
          [disabled]="isNextDisabled()" 
          >
        </p-button>
      </div>
</div>
