
<div class="card">
    <div *ngIf="step == 1 || step == 2 || step == 3 || step == 4" >
        <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)" />
        <div class="container">
            <div class="row">
                <div class="col-12" *ngIf="activeIndex == 0 && step == 1">
                  <div class="user-details">
                  <p><strong>Civilité:</strong> {{ user.civilite }}</p>
                  <p><strong>Nom et Prénom:</strong> {{ user.nomPrenom }}</p>
                  <p><strong>Date de Naissance:</strong> {{ user.dateNaissance | date:'yyyy/MM/dd' }}</p>
                  <p><strong>Nationalité:</strong> {{ user.nationalite }}</p>
                  <p><strong>Identité:</strong> {{ user.identite }}</p>
                  <p><strong>CIN:</strong> {{ user.cin }}</p>
                  <p><strong>Adresse:</strong> {{ user.adresse }}, {{ user.ville }}, {{ user.pays }}</p>
                  <p><strong>Pays de Résidence:</strong> {{ user.paysResidence }}</p>
                  <p><strong>Situation Familiale:</strong> {{ user.situationFamiliale }}</p>
                  <p><strong>Téléphone:</strong> Mobile: {{ user.telephoneMobile }}, Fixe: {{ user.telephoneFixe }}, Professionnel: {{ user.telephoneProfessionnel }}</p>
                  <p><strong>Adresse e-mail:</strong> {{ user.email }}</p>
                  <p><strong>Statut:</strong> {{ user.statut }}</p>
                  <p><strong>Statut d'Occupation:</strong> {{ user.statutOccupation }}</p>
                  <p><strong>Provenance du Client:</strong> {{ user.provenanceClient }}</p>
                  <p><strong>Détail de Provenance (ORIGIN):</strong> {{ user.origin }}</p>
                  <p><strong>Montant Sollicité:</strong> {{ user.montantSollicite }}</p>
                  </div>
                </div>
                <div class="col-12" *ngIf="activeIndex == 1 && step == 2">
                  <div class="grid p-fluid mt-3">
                      <!-- Profession Dropdown -->
                      <div class="field col-12">
                      <label for="profession">Profession</label>
                      <p-dropdown
                          id="profession"
                          [options]="professions"
                          (onChange)="onProfessionChange($event)"
                          [(ngModel)]="selectedProfession"
                          placeholder="Sélectionnez votre profession"
                      ></p-dropdown>
                      </div>
                  
                      <!-- Salarié Inputs -->
                      <div *ngIf="selectedProfession === 'Salarié'" class="field col-12">
                      <div class="grid">
                          <div class="field col-12 md:col-6">
                          <label for="fonction">Fonction</label>
                          <input id="fonction" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="employeur">Employeur</label>
                          <input id="employeur" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="dateEmbauche">Date d’embauche</label>
                          <p-calendar
                              id="dateEmbauche"                          
                              [showIcon]="true"
                              dateFormat="dd/mm/yy"
                          ></p-calendar>
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="salaire">Salaire</label>
                          <input id="salaire" type="number" pInputText />
                          </div>
                      </div>
                      </div>
                  
                      <!-- Commerçant Inputs -->
                      <div *ngIf="selectedProfession === 'Commerçant'" class="field col-12">
                      <div class="grid">
                          <div class="field col-12 md:col-6">
                          <label for="rcNumber">N°RC</label>
                          <input id="rcNumber" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="creationDate">Date de création RC</label>
                          <p-calendar
                              id="creationDate"
                              [showIcon]="true"
                              dateFormat="dd/mm/yy"
                          ></p-calendar>
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="natureActivite">Nature Activité</label>
                          <input id="natureActivite" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="adresseActivite">Adresse de l’activité + ville + pays</label>
                          <input id="adresseActivite" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="revenu">Revenu</label>
                          <input id="revenu" type="number" pInputText />
                          </div>
                      </div>
                      </div>
                  
                      <!-- Profession Libérale Inputs -->
                      <div *ngIf="selectedProfession === 'ProfessionLibérale'" class="field col-12">
                      <div class="grid">
                          <div class="field col-12 md:col-6">
                          <label for="natureActiviteLib">Nature Activité</label>
                          <input id="natureActiviteLib" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="dateDebutExercice">Date de début d’exercice</label>
                          <p-calendar
                              id="dateDebutExercice"
                              [showIcon]="true"
                              dateFormat="dd/mm/yy"
                          ></p-calendar>
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="ifNumber">N° IF ou TP</label>
                          <input id="ifNumber" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="adresseActiviteLib">Adresse de l’activité + ville + pays</label>
                          <input id="adresseActiviteLib" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="honoraires">Honoraires</label>
                          <input id="honoraires" type="number" pInputText />
                          </div>
                      </div>
                      </div>
                  
                      <!-- Gérant de Société Inputs -->
                      <div *ngIf="selectedProfession === 'GérantSociété'" class="field col-12">
                      <div class="grid">
                          <div class="field col-12 md:col-6">
                          <label for="denomination">Dénomination</label>
                          <input id="denomination" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="rcNumberGerant">N°RC</label>
                          <input id="rcNumberGerant" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="creationDateGerant">Date de création</label>
                          <p-calendar
                              id="creationDateGerant"
                              [showIcon]="true"
                              dateFormat="dd/mm/yy"
                          ></p-calendar>
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="capitalSocial">Capital social</label>
                          <input id="capitalSocial" type="number" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="activiteEntreprise">Activité de l’entreprise</label>
                          <input id="activiteEntreprise" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="adresseActiviteGerant">Adresse de l’activité + ville + pays</label>
                          <input id="adresseActiviteGerant" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="resultatAnneeN">Résultat année N</label>
                          <input id="resultatAnneeN" type="number" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="chiffreAffaireAnneeN">Chiffre d’affaire année N</label>
                          <input id="chiffreAffaireAnneeN" type="number" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="resultatAnneeN1">Résultat année N-1</label>
                          <input id="resultatAnneeN1" type="number" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="chiffreAffaireAnneeN1">Chiffre d’affaire année N-1</label>
                          <input id="chiffreAffaireAnneeN1" type="number" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="partsParticipation">Parts de participation société</label>
                          <input id="partsParticipation" type="number" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="revenuGerant">Revenu</label>
                          <input id="revenuGerant" type="number" pInputText />
                          </div>
                      </div>
                      </div>
                  
                      <!-- Retraité ou Pensionnaire Inputs -->
                      <div *ngIf="selectedProfession === 'Retraité'" class="field col-12">
                      <div class="grid">
                          <div class="field col-12 md:col-6">
                          <label for="pensionType">Nature de la pension</label>
                          <input id="pensionType" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="organismePension">Organisme (CIMR, CMR, RCAR, CNSS)</label>
                          <input id="organismePension" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="typePension">Type de pension (Retraite, veuvage, invalidité)</label>
                          <input id="typePension" type="text"  pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="montantPension">Montant de la pension</label>
                          <input id="montantPension" type="number" pInputText />
                          </div>
                      </div>
                      </div>
                  
                      <!-- Rentier Inputs -->
                      <div *ngIf="selectedProfession === 'Rentier'" class="field col-12">
                      <div class="grid">
                          <div class="field col-12 md:col-6">
                          <label for="natureBail">Nature du bail</label>
                          <input id="natureBail" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="typeBien">Type de bien (Appartement, Maison, Magasin, etc.)</label>
                          <input id="typeBien" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="agrement">Agrément</label>
                          <input id="agrement" type="text" pInputText />
                          </div>
                          <div class="field col-12 md:col-6">
                          <label for="rente">Rente</label>
                          <input id="rente" type="number" pInputText />
                          </div>
                      </div>
                      </div>
                  </div>
                </div>
                <div class="col-12" *ngIf="activeIndex == 2 && step == 3">
                    <div class="grid p-fluid mt-3">
                    <!-- Bank Name Dropdown -->
                    <div class="field col-12">
                        <label for="bankName">Nom de la banque</label>
                        <p-dropdown
                        id="bankName"
                        [options]="banks"
                        placeholder="Sélectionnez la banque"
                        ></p-dropdown>
                    </div>
                
                    <!-- Agency Input -->
                    <div class="field col-12 md:col-6">
                        <label for="agency">Agence</label>
                        <input id="agency" type="text" pInputText />
                    </div>
                
                    <!-- Account Balance Input -->
                    <div class="field col-12 md:col-6">
                        <label for="accountBalance">Solde du compte</label>
                        <input id="accountBalance" type="number" pInputText />
                    </div>
                
                    <!-- Cumulative Credit Movements Input -->
                    <div class="field col-12 md:col-6">
                        <label for="cumulativeCredit">Cumul mouvement créditeur</label>
                        <input id="cumulativeCredit" type="number" pInputText />
                    </div>
                
                    <!-- Account Type Dropdown -->
                    <div class="field col-12 md:col-6">
                        <label for="accountType">Nature du compte</label>
                        <p-dropdown
                        id="accountType"
                        [options]="accountTypes"
                        placeholder="Sélectionnez le type de compte"
                        ></p-dropdown>
                    </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="activeIndex == 3 && step == 4">
                    <div class="grid p-fluid mt-3">
                      <!-- Nature of Commitment Dropdown -->
                      <div class="field col-12">
                        <label for="natureEngagement">Nature de l’engagement</label>
                        <p-dropdown
                          id="natureEngagement"
                          [options]="engagementTypes"
                          placeholder="Sélectionnez la nature de l’engagement"
                        ></p-dropdown>
                      </div>
                  
                      <!-- Bank or Organization Input -->
                      <div class="field col-12 md:col-6">
                        <label for="bankOrganisme">Banque ou organisme</label>
                        <input id="bankOrganisme" type="text" pInputText />
                      </div>
                  
                      <!-- Due Date Input -->
                      <div class="field col-12 md:col-6">
                        <label for="echeance">Echéance</label>
                        <p-calendar
                          id="echeance"
                          [showIcon]="true"
                          dateFormat="dd/mm/yy"
                        ></p-calendar>
                      </div>
                  
                      <!-- Outstanding Balance Input -->
                      <div class="field col-12 md:col-6">
                        <label for="encours">Encours</label>
                        <input id="encours" type="number" pInputText />
                      </div>
                  
                      <!-- Repayable in Advance Radio Buttons -->
                      <div class="field col-12 md:col-6">
                        <label>Remboursable par anticipation</label>
                        <div class="flex align-items-center">
                          <p-radioButton
                            name="remboursable"
                            value="Oui"
                            label="Oui"
                            [(ngModel)]="rem1" 
                          ></p-radioButton>
                          <p-radioButton
                            name="remboursable"
                            value="Non"
                            label="Non"
                            class="ml-3"
                            [(ngModel)]="rem2" 
                          ></p-radioButton>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex space-between" style="justify-content: space-between;">
      <span></span>
      <button
          pButton pRipple class="p-button-success" 
          label="Sauvegarder">
        </button>
    </div>
    <div class="flex space-between mt-4" style="justify-content: space-between;">
        <button
          pButton pRipple class="p-button-primary" 
          label="Précédent" 
          (click)="goToPreviousStep()">
        </button>
        
        <!-- [disabled]="isNextDisabled()" -->
        <button *ngIf="step != 4"
          pButton pRipple class="p-button-primary" 
          label="Suivant"
          (click)="goToNextStep()">
        </button>
        
        <button *ngIf="step == 4"
          pButton pRipple class="p-button-primary" 
          label="Done">
        </button>
    </div>
</div>
