<p-card header="Montant par Ville">
    <p-chart type="bar"
             [data]="montantChartData"
             [options]="barChartOpts"
             style="height:400px"></p-chart>
</p-card>
  
<p-card header="Taux (%) par Ville">
    <p-chart type="line"
             [data]="tauxChartData"
             [options]="lineChartOpts"
             style="height:400px"></p-chart>
</p-card>
  
<p-card header="Nombre de dossiers par Ville">
    <p-chart type="bar"
             [data]="dossiersChartData"
             [options]="barChartOpts"
             style="height:400px"></p-chart>$*</p-card>